<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Создать традицию</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/events/{recipeId}(recipeId=${recipeId})}"
                  th:object="${event}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Имя</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                th:field="*{name}"
                                placeholder="Название события">
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="photoUrl">URL фото</label>
                        <input
                                type="text"
                                class="form-control"
                                id="photoUrl"
                                name="photoUrl"
                                th:field="*{photoUrl}"
                                placeholder="URL фото">
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="location">Локация</label>
                        <input
                                type="text"
                                class="form-control"
                                id="location"
                                name="location"
                                th:field="*{location}"
                                placeholder="Локация">
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="tradition">Традиция</label>
                        <input
                                type="text"
                                class="form-control"
                                id="tradition"
                                name="tradition"
                                th:field="*{tradition}"
                                placeholder="Традиция">
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="date">Дата</label>
                        <input
                                type="text"
                                class="form-control"
                                id="date"
                                name="date"
                                th:field="*{date}"
                                placeholder="Дата">
                                                <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>