<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Традиция</title>
</head>
<body class="d-flex flex-column">

<!-- Page Content-->
<section layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${event.name}"></h1>
                <p class="lead mb-0">Чт мы знаем об этом празднике</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}"
                                      alt="..."/></a>
                    <div class="card-body">
                        <h2 class="card-title">Про Традицию</h2>
                        <div class="small text-muted" th:text="${event.location}"></div>
                        <div class="small text-muted" th:text="${event.date}"></div>
                        <p class="card-text" th:text="${event.tradition}"></p>
                        <div th:if="${user.id} == ${event.recipe.createdBy.id}">
                            <a class="btn btn-primary" th:href="@{/events/{eventId}/delete(eventId=${event.id})}">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</section>
</body>
</html>