<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Создать рецепт</title>
</head>
<body class="d-flex flex-column">

<!-- Page Content-->
<section layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${recipe.recipeTitle}"></h1>
                <p class="lead mb-0">Проверь ингредиенты в холодильнике</p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" th:src="${recipe.photoUrl}"
                                      alt="..."/></a>
                    <div class="card-body">
                        <div class="small text-muted" th:text="${recipe.createdDateTime}"></div>
                        <h2 class="card-title">Про этот рецепт</h2>
                        <p class="card-text" th:text="${recipe.recipeContent}"></p>
                        <div th:if="${user.id} == ${recipe.createdBy.id}">
                            <a class="btn btn-primary" th:href="@{/recipes/{recipeId}/delete(recipeId=${recipe.id})}">Удалить</a>
                            <a class="btn btn-primary" th:href="@{/events/{recipeId}/new(recipeId=${recipe.id})}">Создать событие</a>
                        </div>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div th:each="event :${recipe.events}" class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                              th:src="${event.photoUrl}" alt="..."/></a>
                            <div class="card-body">
                                <div th:text="${event.date}" class="small text-muted"></div>
                                <h2 th:text="${event.name}" class="card-title h4"></h2>
                                <p th:text="${#strings.abbreviate(event.tradition,150)}"  class="card-text"></p>
                                <a class="btn btn-primary" th:href="@{/events/{eventId}(eventId=${event.id})}">Подробнее
                                    →</a>
                            </div>
                        </div>
                        <!-- Blog post-->
                    </div>
                </div>
                <!-- Pagination-->

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</section>

</body>
</html>